@{
    ViewData["Title"] = "Form";
}

<form sp-controller="Home" asp-action="GetID" method="post">
    <div>Description</div>
    <textarea name="description" cols="60" rows="5"></textarea>
    <div>Data</div>
    <textarea name="data" cols="60" rows="5"></textarea>
    <div><input type="submit" value="Получить идентификатор задачи"></div>
</form>
